.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}
.bg-brand{
    background-color: $principal;
    padding-bottom: 10px;
    padding-left: 20px;
}

.navbar-nav .nav-item{
justify-items: flex-start;
padding-left: 15px;
padding-right: 15px;
font-size: 18px;
}

.logo{
    width: 80px;
}

.dropdown-menu{
    background-color: $secundario;
    border: 0;
}
.dropdown-menu li a:hover{
    background-color: $principal;
    border: 0;
}